<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Mi currículo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by Colorlib" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="Colorlib" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="../../static/images/favicon.png" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css"  href='../../static/css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/css/common.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/css/carouFredSel.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/css/prettyPhoto.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/css/sm-clean.css' />
        <link rel="stylesheet" type="text/css"  href='../../static/style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <!-- Preloader Gif -->
        <table class="doc-loader">
            <tr>
                <td>
                    <img src="../../static/images/ajax-document-loader.gif" alt="Loading..." />
                </td>
            </tr>
        </table>

        <!-- Menu -->
        <div class="menu-wrapper center-relative">
            <nav id="header-main-menu">
                <div class="mob-menu">MENU</div>
                <ul class="main-menu sm sm-clean">
                    <li><a href="#home">Presentación</a></li>
                    <li><a href="#services">A cerca de</a></li>
                    <li><a href="#portfolio">Formación Académica</a></li>
                    <li><a href="#about">Titulos</a></li>
                    <li><a href="#news">Cursos</a></li>
                    <li><a href="#video">Experiencia</a></li>
                    <li><a href="#skills">Conocimientos</a></li>
                    <li><a href="#contact">Contactos</a></li>
                </ul>
            </nav>
        </div>



        <!-- Home -->

        <div id="home" class="section intro-page">
            <div class="block content-1170 center-relative center-text">
                <img class="top-logo" src="../../static/demo-images/icon_clear.png" alt="Boxus" />
                <br>
                <h1 class="big-title">Hola! Soy {{ person.name }} {{ person.middleName }} <span>Aquí puedes ver y saber más acerca de mi </span></h1>
                <p class="title-desc">Espero tengas un día estupendo!</p>
            </div>
        </div>



        <!-- A cerca de -->

        <div id="services" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>01</span>
                    </div>
                    <h2 class="entry-title">A cerca de</h2>
                </div>
                <div class="section-content-holder right">
                    <div class="content-wrapper">
                        <script>
                            var slider1_speed = "500";
                            var slider1_auto = "false";
                            var slider1_hover = "true";
                        </script>
                        <div class="image-slider-wrapper relative service slider1">
                            <a id="slider1_next" class="image_slider_next" href ="#"></a>

                            <ul id="slider1" class="image-slider slides">
                                <li>
                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_01.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Dirección</div>
                                            <div class="service-content">
                                                {{ person.homeAddress}}<br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_03.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Ciudad de Residencia</div>
                                            <div class="service-content">
                                                {{ person.city}}<br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_02.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Celular</div>
                                            <div class="service-content">
                                                {{ person.mobilePhone}}<br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_04.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Correo</div>
                                            <div class="service-content">
                                                {{ person.email}}<br />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_03.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Fecha de Nacimiento</div>
                                            <div class="service-content">
                                                {{ person.dateBirth}}<br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_04.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Sexo</div>
                                            <div class="service-content">
                                                {{ person.gender}}<br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_02.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Pasatiempos</div>
                                            <div class="service-content">
                                                Tocar guitarra.<br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-holder ">
                                        <img src="../../static/demo-images/icon_01.png" alt="">
                                        <div class="service-content-holder">
                                            <div class="service-title">Pagina Web</div>
                                            <div class="service-content">
                                                www.gemeth.com <br />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class = "clear"></div>
                        </div>

                    </div>
                </div>
                <div class='clear'></div>
            </div>
        </div>


        <!-- Formacion -->
        <div id="portfolio" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>02</span>
                    </div>
                    <h2 class="entry-title">Formación</h2>
                </div>
                <div class="section-content-holder left">
                    <div class="content-wrapper">
                        <div class="blog-holder block center-relative">
                            {% for train in training %}
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">0{{ forloop.counter }}</div>
                                <div class="info">
                                    <div class="author vcard ">{{ train.level }}</div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#">del {{ train.dateInit }} al {{ train.dateFinish }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">{{ train.institution }} {{ train.description }}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>

                            {% endfor %}

                            <div class="latest-post-bottom-text">
                                <a href="#">IR A PRESENTACIÓN</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>


        <!-- Títulos -->
        <div id="about" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>03</span>
                    </div>
                    <h2 class="entry-title">Títulos y Certificados</h2>
                </div>
                <div class="section-content-holder right">
                    <div class="content-wrapper">
                        <div class="content-title-holder">
                            <p class="content-title">Title</p>
                        </div>
                        <div class="one_half ">
                            En esta sección se encuentran los <strong>títulos y certificados</strong> obtenidos en ditintas fechas
                        </div>
                        <div class="one_half last ">

                            <span style="color: #e54b76;"><strong>Pregrado </strong></span> <span style="color:#727190;"><em> Títulos obtenidos en pregrado</em></span><br>
                            <span style="color: #e54b76;"><strong>Postgrado </strong></span> <span style="color:#727190;"><em> Títulos obtenidos en estudios superiores</em></span><br>

                        </div><div class="clear"></div>
                        <br>
                        <br>
                    </div>

                    <div class="full-width ">

                        <script>
                            var team1_speed = "500";
                            var team1_auto = "false";
                            var team1_hover = "true";
                        </script>
                        <div class="image-slider-wrapper relative team team1">
                            <a id="team1_next" class="image_slider_next" href="#"></a>
                            <div class="caroufredsel_wrapper">
                                <ul id="team1" class="image-slider slides">
                                    {% for title in titles %}
                                    <li>
                                        <div class="member-content-holder">
                                            <h4 class="member-name">{{ title.dateObtained }}</h4>
                                            <p class="member-position">{{ title.nameTitle }}</p>
                                            <div class="member-content">
                                               {{ title.description }} <br>
                                            </div>
                                        </div>
                                        <div class="member-image-holder">
                                            <img src="../../static/demo-images/univ2.jpg" alt="">
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>   <!-- end full-width div -->

                </div>
                <div class="clear"></div>
            </div>
        </div>


        <!-- Cursos -->
        <div id="news" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>
                            04
                        </span>
                    </div>
                    <h2 class="entry-title">Cursos</h2>
                </div>
                <div class="section-content-holder left">
                    <div class="content-wrapper">
                        <div class="blog-holder block center-relative">
                            {% for course in courses %}
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">0{{ forloop.counter }}</div>
                                <div class="info">
                                    <div class="author vcard ">{{ course.courseName }}</div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#"> DEL {{ course.dateInit }} AL {{ course.dateFinish }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">{{ course.description }}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>

                            {% endfor %}


                            <div class="latest-post-bottom-text">
                                <a href="#">IR A PRESENTACION</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="block content-1170 center-relative">
                <div class="extra-content-left">
                    <script> var text1_speed = "500";
                        var text1_auto = "false";
                        var text1_hover = "true";
                    </script>
                    <div class="text1 testimonial-slider-holder slider-holder">
                        <div class="caroufredsel_wrapper">
                            <ul id="text1" class="slides testimonial">
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">PERSEVERAR ES LA CLAVE DEL EXITO</p>
                                        <p class="testimonial-author">TARU</p>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </li>
                                <li style="width: 500px;">
                                    <div class="testimonial-content">
                                        <p class="testimonial-text"> ME GUSTA SU CRISTO PERO NO SUS CRISTIANOS</p>
                                        <p class="testimonial-author">MAGANDI</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">LA MALDAD ES LA AUSENCIA DE DIOS EN EL CORAZON DEL HOMBRE..</p>
                                        <p class="testimonial-author">YIYE AVILA</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <a id="text1_next" class="carousel_text_next" href="#"></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Experiencia -->
        <div id="video" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>
                            05
                        </span>
                    </div>
                    <h2 class="entry-title">Experiencia</h2>
                </div>
                <div class="section-content-holder right">
                    <div class="content-wrapper">
                        <div class="content-title-holder">
                            <p class="content-title">wORK</p>
                        </div>
                        <div class="one_half ">
                            Esta seccion contiene la lista de los <strong>trabajos </strong> de los cuales se ha tenido la dicha de ser parte.
                        </div>
                        <div class="one_half last ">
                            {% for experience in experiences %}
                            <span style="color: #FFBA42;"><strong> {{ experience.dateInit }} - {{ experience.dateFinish }}</strong></span> <span style="color: #727190;"><em>{{ experience.institution }} ({{ experience.charge }})</em></span><br>
                            {% endfor %}
                        </div><div class="clear"></div>
                        <br>
                        <br>
                    </div>
                    <div class="full-width ">
                        <a class="video-popup-holder" href="https://vimeo.com/157276599" data-rel="prettyPhoto[gallery-video1]">
                            <img class="thumb" src="../../static/demo-images/ex1.jpg" alt="">
                            <img class="popup-play" src="../../static/images/icon_video.svg" alt="Play">
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="extra-content-full-width">
                <script>
                    var fwslider1_speed = "500";
                    var fwslider1_auto = "false";
                    var fwslider1_hover = "true";
                    var fwslider1_start = "0";
                    var fwslider1_width = "400";
                    var fwslider1_num = "5";
                </script>
                <div class="fwslider1 fw-image-slider-holder list_carousel relative">
                    <div class="caroufredsel_wrapper">
                        <ul id="fwslider1" class="fw-image-slider">
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_editing.png" alt="">
                                <p class="fw-slide-text">Edición de video</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_clear.png" alt="">
                                <p class="fw-slide-text">Premium Cleer</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_display.png" alt="">
                                <p class="fw-slide-text">Valor Agregado</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_time.png" alt="">
                                <p class="fw-slide-text">Puntualidad</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_ideas.png" alt="">
                                <p class="fw-slide-text">Ideas Innovadoras</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_sound.png" alt="">
                                <p class="fw-slide-text">Buenas Relaciones</p>
                            </li>
                            <li class="fw-slide">
                                <img src="../../static/demo-images/icon_solution.png" alt="">
                                <p class="fw-slide-text"> Solutiones Rápidas</p>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div id="fwslider1_fw_image_slide_pager" class="fw_carousel_pagination"></div>
                </div>
                <a id="fwslider1_fw_next" class="carousel_fw_next" href="#"></a>
                <div class="clear"></div>
            </div>
        </div>


        <!-- Skills -->

        <div id="skills" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>06</span>
                    </div>
                    <h2 class="entry-title">Conocimientos</h2>
                </div>
                <div class="section-content-holder left">
                    <div class="content-wrapper">
                        <div class="content-title-holder">
                            <p class="content-title">Skills</p>
                        </div>
                        <p>Esta seccion contiene todos los conocimientos adquiridos, ademad del porcentaje de conocimiento de cada uno. </p>
                        <br>
                        {% for skill in skills %}
                        <div class="progress_bar ">
                            <div class="progress_bar_field_holder" style="width:{{ skill.level }}%;">
                                <div class="progress_bar_title" style="color: #55B286">{{ skill.nameSkill }}</div>
                                <div class="progress_bar_percent_text" style="color: #55B286">{{ skill.level }}%</div>
                                <div class="progress_bar_field_perecent" style="background-color:#32DB8A;"></div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="progress_bar ">
                            <div class="progress_bar_field_holder" style="width:93%;">
                                <div class="progress_bar_title" style="color: #E3A536">CSS</div>
                                <div class="progress_bar_percent_text" style="color: #E3A536">63%</div>
                                <div class="progress_bar_field_perecent" style="background-color:#FFBB42;"></div>
                            </div>
                        </div>
                        <div class="progress_bar ">
                            <div class="progress_bar_field_holder" style="width:72%;">
                                <div class="progress_bar_title" style="color: #B24564">PHOTOSHOP</div>
                                <div class="progress_bar_percent_text" style="color: #B24564">72%</div>
                                <div class="progress_bar_field_perecent" style="background-color:#E74C78;"></div>
                            </div>
                        </div>
                        <div class="progress_bar ">
                            <div class="progress_bar_field_holder" style="width:99%;">
                                <div class="progress_bar_title" style="color: #468ac7">DESIGN</div>
                                <div class="progress_bar_percent_text" style="color: #468ac7">59%</div>
                                <div class="progress_bar_field_perecent" style="background-color:#4C9EE7;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Contact -->
        <div id="contact" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>
                            07
                        </span>
                    </div>
                    <h2 class="entry-title">Contactos</h2>
                </div>
                <div class="section-content-holder right">
                    <div class="content-wrapper">
                        <div class="one_half ">
                            <p>Para cualquier duda o consulta favor comunicarse enviando un correo por la seccion siguiente.</p>
                            <br>
                            <p><strong><span style="color: #e64b77;">El correo</span></strong> será contestado lo mas pronto posible.</p>
                        </div>
                        <div class="one_half last">
                            <div class="contact-form">
                                <p><input id="name" type="text" name="your-name" placeholder="Nombre"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Correo"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Tema"></p>
                                <p><textarea id="message" name="your-message" placeholder="Mensaje"></textarea></p>
                                <p><input type="submit" onClick="SendMail()" value="SEND"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="full-width">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4274.290564544589!2d-75.2952832049782!3d40.753669641460846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1444506658649" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Footer -->

        <footer>
            <div class="footer content-1170 center-relative">
                <ul>
                    <li class="copyright-footer">
                        © 2019 Todos los derechos reservados. | Creado por <a href="https://www.gemeth.com" target="_blank">www.gemeth.com</a>
                    </li>
                    <li class="copyright-footer">
                        <a href="https://twitter.com/emethglobal"><span class="fa fa-twitter"></span></a>
                        <a href="https://www.instagram.com/?hl=es-la"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.facebook.com/emethcorporation/"><span class="fa fa-facebook"></span></a>
                        <a href="https://www.linkedin.com/in/tatiana-arancibia-quiroga-428b8a111/"><span class="fa fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>
        </footer>


        <!--Load JavaScript-->
        <script type="text/javascript" src="../../static/js/jquery.js"></script>
        <script type='text/javascript' src='../../static/js/jquery.sticky-kit.min.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.smartmenus.min.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.sticky.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.dryMenu.js'></script>
        <script type='text/javascript' src='../../static/js/isotope.pkgd.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.carouFredSel-6.2.0-packed.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.mousewheel.min.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.touchSwipe.min.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.easing.1.3.js'></script>
        <script type='text/javascript' src='../../static/js/imagesloaded.pkgd.js'></script>
        <script type='text/javascript' src='../../static/js/jquery.prettyPhoto.js'></script>
        <script type='text/javascript' src='../../static/js/main.js'></script>
    </body>
</html>
